{
  "extends": ["eslint-config-asjas/react-typescript"],
  "parserOptions": {
    "tsconfigRootDir": ".",
    "project": "tsconfig.json"
  },
  "rules": {
    "react/destructuring-assignment": 0,
    "@typescript-eslint/no-use-before-define": 0,
    "jsx-a11y/no-onchange": 0
  }
}
